<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-dogs">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Alive</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_alive}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="different-breeds">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Breeds</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_breeds}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="different-temperments">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Users</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_users}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>